.room {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  background-image: url(../images/Room400x400.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  position: absolute;
}

.character {
  height: 54px;
  width: 30px;
  position: absolute;
  padding: none;
}

.front {
  background-image: url(../images/indianajonesFront.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  background-image: url(../images/indianajonesBack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  background-image: url(../images/indianajonesLeft.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  background-image: url(../images/indianajonesRight.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions {
  display: block;
  width: 90%;
  height: 90%;
  background-image: url(../images/Room2.png);
  color: white;
  position: absolute;
  padding: 5%;
}

.gameOver {
  display: none;
  width: 90%;
  height: 90%;
  background-image: url(../images/Room2.png);
  color: white;
  position: absolute;
  padding: 5%;
}

.score {
  position: absolute;
  display: inline;
}

.door {
  background: green;
  position: absolute;
  opacity: 0.5;
}

.doorTopBottom {
  height: 10px;
  width: 80px;
}

.doorSide {
  height: 80px;
  width: 10px;
}

.redDoor {
  background: red;
}

/* Positions of doors */
.door0 {
  left: 70px;
  top: 0px;
}

.door1 {
  left: 250px;
  top: 0px;
}

.door2 {
  left: 0px;
  top: 70px;
}

.door3 {
  left: 0px;
  top: 250px;
}

.door4 {
  left: 390px;
  top: 70px;
}

.door5 {
  left: 390px;
  top: 250px;
}

.door6 {
  left: 70px;
  top: 390px;
}

.door7 {
  left: 250px;
  top: 390px;
}
