.room {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  background-image: url(../images/Room400x400.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Times New Roman';
  font-size: 16px;
}

/* Gameplay */
.game {
  position: absolute;
}

/* Character */
.character {
  height: 45px;
  width: 25px;
  position: absolute;
  padding: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.front {
  background-image: url(../images/indianajonesFront.png);
}

.back {
  background-image: url(../images/indianajonesBack.png);
}

.left {
  background-image: url(../images/indianajonesLeft.png);
}

.right {
  background-image: url(../images/indianajonesRight.png);
}

/* Doors */
.door {
  background: green;
  position: absolute;
  opacity: 0.5;
}

.doorTopBottom {
  height: 20px;
  width: 80px;
}

.doorSide {
  height: 80px;
  width: 20px;
}

.redDoor {
  background: red;
  font-family: arial black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.door0 {
  left: 70px;
  top: 0px;
}

.door1 {
  left: 250px;
  top: 0px;
}

.door2 {
  left: 0px;
  top: 70px;
}

.door3 {
  left: 0px;
  top: 250px;
}

.door4 {
  left: 380px;
  top: 70px;
}

.door5 {
  left: 380px;
  top: 250px;
}

.door6 {
  left: 70px;
  top: 380px;
}

.door7 {
  left: 250px;
  top: 380px;
}

/* Scoreboard */
.scoreboard {
  position: absolute;
  display: block;
  left: 4px;
  top: 31px;
  width: 100px;
}

.scoreboard p {
  margin: 3px;
}

/* Text screens */
.instructions, .gameOver {
  width: 90%;
  height: 90%;
  background-image: url(../images/Room400x400.png);
  color: white;
  position: absolute;
  padding: 5%;
}

button {
  color: white;
  font-size: 14px;
  background-color: rgb(66, 66, 66);
  border: none;
  border-radius: 4px;
  padding: 5px;
  height: 30px;
  width: 60px;
  box-shadow: 2.5px 2.5px 2.5px rgb(38, 38, 38);
}

/* Instructions menu */
.instructions {
  display: block;
}

h1 {
  font-family: verdana;
  font-size: 32px;
  color: white;
  margin-top: 28px;
  margin-bottom: 6px;
  text-align: center;
}

/* Game-over screen */
.gameOver {
  font-family: verdana;
  display: none;
  text-align: center;
  font-size: 1.25rem;
}

.gameOver h2 {
  margin-top: 115px;
  margin-bottom: 8px;
}

.gameOver p {
  margin-top: 8px;
  font-size: 1.6em;
}
